<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.hzuapps.androids">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".TimeActivity"
            android:parentActivityName=".Net1814080903139Activity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Net1814080903139Activity"></meta-data>
        </activity>
        <activity
            android:name=".AlarmActivity"
            android:parentActivityName=".Net1814080903139Activity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Net1814080903139Activity"></meta-data>
        </activity>
        <activity
            android:name=".TimerActivity"
            android:parentActivityName=".Net1814080903139Activity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Net1814080903139Activity"></meta-data>
        </activity>
        <activity
            android:name=".StopWatchActivity"
            android:parentActivityName=".Net1814080903139Activity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Net1814080903139Activity" />
        </activity>

    </application>

</manifest>