<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.hzuapps.androidlabs.sec1814080911238">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="1814080911238 mini背单词"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Sec1814080911238Activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".InputActivity"
            android:label="输入单词" />
        <activity
            android:name=".RememberActivity"
            android:label="开始背单词" />
    </application>

</manifest>