<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gopan.app">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".CountActivity.Net1814080903209CountActivity"
            android:label="@string/title_activity_net184080903209_count"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".ViewActivity.Net1814080903209ViewActivity"
            android:label="@string/title_activity_net1814080903209_view"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MessageActivity.Net1814080903209MessageActivity"
            android:label="@string/title_activity_net1814080903209_message"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Net1814080903209MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>